<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <script src="../static/scripts/order_script.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="main">

    <div class="header">

        <a class="back-arrow" href="#">
            <img src="img/arrow.svg" alt="Назад">
        </a>
        <p class="text17-black order-number">
            Заказ №27000423-963580 64646464
        </p>
    </div>


    <div class="date-create">
        <p class="date-create-item text14-grey">
            Создан 31 января, 23:03
        </p>
        <a class="button-check">
            Проверка наличия
        </a>
        <!--            <a class="button-cancel">-->
        <!--                Отменён-->
        <!--            </a>-->
    </div>

    <div class="about-address">
        <div class="about-address-info">
            <p class="type-order text16-black">
                Самовывоз
            </p>
            <p class="address text14-black">
                г. Москва, Варшавское ш., д.129А
            </p>
            <p class="operating-mode text14-black">
                Ежедневно: с 10:00 до 22:00
            </p>
        </div>
        <div class="button-route">
            <img src="img/route.svg" alt="Назад" width="20" height="20">
        </div>
    </div>

    <div class="date-delivery">
        <p class="text16-black">
            Дата доставки
        </p>
        <p class="text14-black">
            17 января
        </p>
    </div>

    <div class="payment-method-info">
        <p class="text16-black">
            Способ оплаты
        </p>
        <div class="payment-method">
            <p class="text14-black">
                При получении
            </p>
            <p class="text14-orange">
                Не оплачен
            </p>
        </div>
    </div>

    <div class="about-price">
        <div class="count-items">
            <p class="text14-grey">
                1 товар
            </p>
            <p class="price-items text14-grey">
                17 599 ₽
            </p>
        </div>
        <div class="discount-bonus">
            <p class="text14-grey">
                Оплата бонусами
            </p>
            <p class="count-bonus text14-grey">
                -2 000 ₽
            </p>
        </div>
        <div class="total-price">
            <p class="text14-black-med">
                Итого
            </p>
            <p class="count-total-price text14-black-med">
                15 599 ₽
            </p>
        </div>
    </div>

    <div class="about-buyer">
        <p class="text16-black">
            Получатель
        </p>
        <p class="fio text14-black">
            Иван Михеев
        </p>
        <p class="email-buyer text14-black">
            conculovul1981@mail.ru
        </p>
        <p class="tel-number text14-black">
            +7 964 004 31 10
        </p>
    </div>

    <div class="about-order">
        <p class="about-order-count text18-black">
            1 товар в заказе
        </p>
        <div class="order-section">
            <img src="https://cdn.sportmaster.ru/upload/resize_cache/iblock/cec/%7Bwidth%7D_%7Bheight%7D_1/58003480299.jpg"
                 alt="Картинка товара">
            <div class="about-order-info">
                <div class="wrapper-order-info">
                    <p class="text12-black">
                        Кроссовки мужские Nike Air Huarache
                    </p>
                    <p class="about-address-info-item1 text12-grey">
                        Цвет: Черный/оранжевый/белый
                    </p>
                    <p class="about-address-info-item3 text12-grey">
                        Размер: 41
                    </p>
                </div>
                <div class="about-order-info-price">
                    <p class="price-item text14-black-bold">
                        15 599 ₽
                    </p>
                    <p class="price-item-discount text12-grey">
                        17 599 ₽
                    </p>
                    <p class="count-item text12-grey">
                        1 шт.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="button-ask">
        <p>
            Задать вопрос по заказу
        </p>
    </div>
    <div class="footer-menu">
        <ul>
            <li class="Home">
                <img class="grey-wrap" src="img/home.svg" width="19" height="19">
            </li>
            <li class="Catalog">
                <img class="grey-wrap" class="menu-svg" src="img/search.svg">
            </li>
            <li class="Menu">
                <img src="img/menu.png" width="19" height="19">
            </li>
            <li class="Cart">
                <img class="grey-wrap current-link" src="img/cart.svg" width="24" height="24">
            </li>
            <li class="Profile">
                <img class="grey-wrap" src="img/person.svg" width="19" height="19">
            </li>
        </ul>
    </div>
</div>
<!--<script>-->
<!--    var xhr = new XMLHttpRequest();-->
<!--    var url = "/order/2700823-936812";-->
<!--    xhr.open("GET", url, true);-->
<!--    xhr.setRequestHeader("Content-Type", "application/json");-->
<!--    xhr.onreadystatechange = function () {-->
<!--        if (xhr.readyState === 4 && xhr.status === 200) {-->
<!--            var json = JSON.parse(xhr.responseText);-->
<!--            console.log(json);-->
<!--        }-->
<!--    };-->
<!--    xhr.send();-->
<!--</script>-->

</body>
</html>